<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.titleSeo %></title>
  <meta name="keywords" content="邹瑞,arayzou,前端,前端开发,HTHML5,JAVASCRIPT,CSS3,NODEJS,博客,blog">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (config.author){ %>
    <meta name="author" content="<%= config.author %>"><% } %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- config.root %><%- theme.favicon %>">
  <% } %>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="apple-touch-icon" href="<%- config.root %>img/iphone.jpg">
  <link rel="apple-touch-icon-precomposed" href="<%- config.root %>img/iphone.jpg">
  <link href='//fonts.useso.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
  <link href="//fonts.useso.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <%- css('css/style') %>
  <%- css('font-awesome/css/font-awesome.min') %>
  <%- partial('google-analytics') %>
</head>
